body{
    width: 100vw;
    height: 100vh;
}
.content {
height: 100%;
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}
button{
    height: 50%;
    width: 25%;
}