body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    height: 75%;
    display:flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.content>button{
    height: 15%;
    width: 15%;
}