*,p{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
padding: 2%;
height: 90%;
width: 75%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;

}
.gioco{
    
    height: 50%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    place-items: center;
    row-gap: 1vh;
    padding-bottom: 1vh;
}
.gioco>div{
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 75%;
}

.giocatori{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.giocatore1,.giocatore2{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
}
.bonus{
    margin: 5%;
    margin-top: 0;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.bonus>button{
    width: 100%;
}
.immagine{
    background-position: center center;
    width: 50%;
    background-image: url("../assets/football-player.png");
    background-size: cover;
    background-repeat: no-repeat;
}
